<launch>
    <param name="common/mission_selected" type="int" value="1"/> <!-- 1 = SKIDPAD -->
	
	<include file="$(find mission_tracker)/launch/mission_tracker.launch">
    	<arg name="mission_config" value="skidpad"/>
  	</include>

	<include file="$(find common_meta_pkg)/missions/tf.launch" /> 

  	<include file="$(find perception_meta_pkg)/missions/perception_complete.launch" />

  	<include file="$(find estimation_meta_pkg)/missions/estimation_complete.launch">
	  	<arg name="mission_config" value="skidpad"/>
		<arg name="load_map" value="true"/>
	 	<arg name="slam_pipeline" value="2"/> <!-- 0 = GraphSlam, 1 = FastSlam2.0, 2 = FastSlam1.0 -->
	</include>
	
  	<include file="$(find control_meta_pkg)/missions/control_complete.launch">
    	<arg name="launch_path_planner" value="false"/>
  	</include>

	<include file="$(find common_meta_pkg)/missions/record_pipeline.launch"> 
		<arg name="bag_dir" value="/home/fst10d/rosbags/skidpad"/>
	</include>
	
</launch>
