[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
[Service]
Type=simple
User=fst10d
Restart=always
ExecStart=/usr/sbin/usb_cam
[Install]
WantedBy=multi-user.target
