<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>

  <param name="common/mission_selected" type="int" value="1"/> <!-- 1 = SKIDPAD -->

  <include file="$(find mission_tracker)/launch/mission_tracker.launch">
    <arg name="mission_config" value="skidpad"/>
  </include>

 <include file="$(find estimation_meta_pkg)/missions/estimation_complete.launch">
	  <arg name="mission_config" value="skidpad"/>
		<arg name="load_map" value="true"/>
	 	<arg name="slam_pipeline" value="2"/> <!-- 0 = GraphSlam, 1 = FastSlam2.0, 2 = FastSlam1.0 -->
    <arg name="simul" value="true"/>
	</include>

  <include file="$(find control_meta_pkg)/missions/control_complete.launch">
    <arg name="launch_path_planner" value="false"/>
  </include>
  
  <include file="$(find fst_interface)/launch/only_interface.launch"/>
  
</launch>
